<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.portfoli.dao.BoardDao">
	<resultMap type="Board" id="BoardMap">
		<id column="board_no" property="number" />
		<id column="title" property="title" />
		<id column="content" property="content" />
		<id column="view_count" property="viewCount" />
		<id column="registered_date" property="registeredDate" />
		<id column="attachment" property="attachment" />
	</resultMap>




</mapper>







