<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.portfoli.dao.CalendarDao">

	<resultMap type="Calendar" id="CalendarMap">
		<id column="schedule_no" property="id" />
		<result column="general_member_no"
			property="generalMemberNumber" />
		<result column="start_date" property="start" />
		<result column="end_date" property="end" />
		<result column="class" property="className" />
	</resultMap>

	<insert id="insert" parameterType="Calendar">
		INSERT
		INTO pf_schedule
		(general_member_no, start_date, 
		 <if test="end!=null and end!=''">end_date, </if>
		 title, description, class)
		VALUES(#{generalMemberNumber}, #{start}, 
		 <if test="end!=null and end!=''">#{end},</if>
		#{title}, #{description}, #{className})
	</insert>

	<select id="find" parameterType="int" resultMap="CalendarMap">
		SELECT *
		FROM pf_schedule
		WHERE general_member_no = #{no}
	</select>

	<delete id="delete" parameterType="int">
		DELETE FROM pf_schedule
		WHERE schedule_no = #{id}
	</delete>
	
	<update id="update" parameterType="Calendar">
	 UPDATE pf_schedule
    <set>
      title = #{title}
      <if test="description!=null and description!=''">,description = #{description}</if>
      <if test="className!=null and className!=''">,class = #{className}</if>
      <if test="start!=null and start!=''">,start_date = #{start}</if>
      <if test="end!=null and end!=''">,end_date = #{end}</if>
      WHERE schedule_no = #{id}
    </set>
	</update>

</mapper>







