<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.portfoli.dao.CertificateDao">

	<resultMap type="Certificate" id="CertificateMap">
		<id column="certificate_no" property="certificateNumber" />
	</resultMap>

	<select id="findAll" resultType="String">
		SELECT name
		FROM pf_certificate
	</select>
	
	<select id="findByName" parameterType="string" resultMap="CertificateMap">
    SELECT *
    FROM pf_certificate
    WHERE name = #{name}
  </select>
  
    <select id="findAll2" resultMap="CertificateMap">
    SELECT certificate_no, name
    FROM pf_certificate
  </select>


</mapper>