<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.portfoli.dao.CompanyRequiredCertificateDao">

  <resultMap type="CompanyRequiredCertificate" id="CompanyRequiredCertificateMap">
    <id column="job_posting_no" property="jobPostingNumber" />
  </resultMap>

  <insert id="insert" parameterType="JobPosting">
   insert into pf_company_required_certificate(job_posting_no,certificate_no)
   values
   (#{jobPostingNumber},#{certificate.certificateNumber})
  </insert>
  

  <select id="findAll" resultMap="CompanyRequiredCertificateMap" parameterType="int">
    select 
     job_posting_no,
     certificate_no
    from
     pf_company_required_certificate
    where
     job_posting_no=#{jobPostingNumber}
   order by
    job_posting_no asc
  </select>
  
  <delete id="deleteAll" parameterType="int">
  delete from pf_company_required_certificate
  where job_posting_no=#{jobPostingNumber}
  </delete>
  
</mapper>







