<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.portfoli.dao.CompanyRequiredMajorDao">

  <resultMap type="CompanyRequiredMajor" id="CompanyRequiredMajorMap">
    <id column="major_no" property="majorNumber" />
  </resultMap>

  <insert id="insert" parameterType="JobPosting">
   insert into pf_company_required_major(job_posting_no,major_no)
   values
   (#{jobPostingNumber},#{major.majorNumber})
  </insert>
  

  <select id="findAll" resultMap="CompanyRequiredMajorMap" parameterType="int">
    select 
     job_posting_no,
     major_no
    from
     pf_company_required_major
    where
     job_posting_no=#{jobPostingNumber}
   order by
    job_posting_no asc
  </select>
  
  <delete id="deleteAll" parameterType="int">
  delete from pf_company_required_major
  where job_posting_no=#{jobPostingNumber}
  </delete>
  
</mapper>







