<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.portfoli.dao.FieldDao">

	<resultMap type="Field" id="FieldMap">
		<id column="field_no" property="number" />
		<result column="name"	property="name" />
    
		<collection property="list" ofType="Skill">
			<id column="skill_no" property="number" />
			<result column="name" property="name" />
		</collection>

	</resultMap>
	
	<select id="findAll" resultMap="FieldMap">
		select field_no, name
		from pf_field
	</select>	
	
	<select id="findNumber" resultType="integer" parameterType="string">
	  select field_no
	  from pf_field
	  where name=#{name}
	</select>
	
</mapper>
