<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.portfoli.dao.FinalEducationDao">

	<resultMap type="FinalEducation" id="FinalEducationMap">
		<id column="education_no" property="educationNumber"/>
		<result column="category" property="category"/>
	</resultMap>

	<select id="findAll" resultMap="FinalEducationMap">
		SELECT * 
		FROM pf_final_education
	</select>

</mapper>