<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.portfoli.dao.GeneralMemberDao">

	<resultMap type="GeneralMember" id="GeneralMemberMap">
		<id column="general_member_no" property="number" />
		<result column="seeking_flag" property="seekingFlag" />
		<result column="photo" property="photoFilePath" />
		<result column="membership" property="membereship" />
		<result column="career" property="career" />
		<result column="pwd" property="password" />
    <result column="name" property="name" />
    <result column="post_no" property="postNumber" />
    <result column="basic_address" property="basicAddress" />
    <result column="detail_address" property="detailAddress" />
    <result column="email" property="email" />
    <result column="tel" property="tel" />
    <result column="create_date" property="createDate" />
    <result column="sms_yn" property="smsYN" />
    <result column="email_yn" property="emailYN" />
    <result column="type" property="type" />
	</resultMap>

	<insert id="insert" parameterType="GeneralMember">
		INSERT INTO pf_general_member(general_member_no, seeking_flag, membership,
		career)
		VALUES(#{number}, 1, 'none', #{career})
	</insert>
	
	<select id="findByEmailAndPassword" 
    resultMap="GeneralMemberMap" 
    parameterType="map">
    SELECT m.member_no, m.type, m.id, m.name, m.email, g.seeking_flag, g.membership, g.career
    FROM pf_members m JOIN pf_general_member g
    ON m.member_no = g.general_member_no
    WHERE (m.id=#{email} OR m.email=#{email}) AND m.pwd=password(#{password})
  </select>
  
</mapper>
