<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.portfoli.dao.GeneralMemberDao">

  <resultMap type="GeneralMember" id="GeneralMemberMap">
    <id column="general_member_no" property="number" />
    <result column="seeking_flag" property="seekingFlag"/>
    <result column="photo" property="photoFilePath"/>
    <result column="membership" property="membereship"/>
    <result column="career" property="career"/>
  </resultMap>
  
  <insert id="insert" parameterType="GeneralMember">
    INSERT INTO pf_general_member(general_member_no, seeking_flag, membership, career)
    VALUES(#{number}, 1, 'none', #{career})
  </insert>
  
  
</mapper>