<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.portfoli.dao.JobPostingDao">

	<resultMap type="JobPosting" id="JobPostingMap">
		<id column="job_posting_no" property="jobPostingNumber" />
		<result column="company_member_no" property="companyMemberNumber"/>
		<result column="title" property="title" />
		<result column="content" property="content" />
		<result column="work_place_no" property="workPlaceNumber" />
		<result column="minimum_career" property="minimumCareer" />
		<result column="view_count" property="viewCount" />
		<result column="posting_registration" property="postingRegistration" />
		<result column="start_dated" property="startDated" />
		<result column="end_dated" property="endDated" />
		<result column="job" property="job" />
		<result column="thumbnail" property="thumnail" />
		<result column="year_salary" property="yearSalary" />
		<result column="readable" property="readable" />
		<result column="minimum_education_no" property="minimumEducationNumber" />
		<result column="employment_stat_no" property="employmentStatNumber" />
		
		<collection property="files" ofType="JobPostingFile">
      <id column="job_posting_file_no" property="jobPostingFileNumber"/>
      <result column="file_path"  property="filePath"/>
    </collection>
	</resultMap>
	
  <insert id="insert" parameterType="JobPosting" 
  useGeneratedKeys="true" keyColumn="job_posting_no" keyProperty="jobPostingNumber">
  insert into pf_job_posting(
  title,
  content,
  minimum_career,
  job,
  year_salary,
  start_dated,
  end_dated)
  values(
  #{title},
  #{content},
  #{minimumCareer},
  #{job},
  #{yearSalary},
  #{startDated},
  #{endDated})
  </insert>

  <select id="findAll" resultMap="JobPostingMap">
   select
     j.job_posting_no,
     j.title,
     j.content,
     j.minimum_career,
     j.job,
     j.year_salary,
     j.start_dated,
     j.end_dated,
     j.view_count,
     f.file_path
   from
     pf_job_posting j
     left outer join pf_job_posting_file f on j.job_posting_no=f.job_posting_no
   where 
     end_dated > now() 
  order by
    j.job_posting_no desc 
  limit 0, 5
  </select>
  
  <select id="findMore" resultMap="JobPostingMap" parameterType="int">
  <![CDATA[
   select
     j.job_posting_no,
     j.title,
     j.content,
     j.minimum_career,
     j.job,
     j.year_salary,
     j.start_dated,
     j.end_dated,
     j.view_count,
     f.file_path
   from
     pf_job_posting j
     left outer join pf_job_posting_file f on j.job_posting_no=f.job_posting_no
   where 
     end_dated > now() and j.job_posting_no < #{lastNo}
  order by
    j.job_posting_no desc 
  limit 0, 5
  ]]>
  </select>
     

  <select id="findByNo" resultMap="JobPostingMap" parameterType="int">
  select
     j.job_posting_no,
     j.title,
     j.content,
     j.minimum_career,
     j.job,
     j.year_salary,
     j.start_dated,
     j.end_dated,
     j.view_count,
     f.file_path
   from pf_job_posting j
     left outer join pf_job_posting_file f on j.job_posting_no=f.job_posting_no
   where
   j.job_posting_no=#{jobPostingNumber}
  </select>
  
  <update id="update" parameterType="JobPosting">
  update pf_job_posting
  <set>
  <if test="title != null and title != ''">title=#{title},</if>
  <if test="content != null and content != ''">content=#{content},</if>
  <if test="minimumCareer > 0">minimum_career=#{minimumCareer},</if>
  <if test="job != null and job != ''">job=#{job},</if>
  <if test="yearSalary > 0">year_salary=#{yearSalary},</if>
  <if test="startDated != null">start_dated=#{startDated},</if>
  <if test="endDated != null">end_dated=#{endDated}</if>  
  </set>
   where job_posting_no=#{jobPostingNumber}
  </update>
  
  <delete id="delete" parameterType="int">
   delete from pf_job_posting
   where 
      job_posting_no=#{jobPostingNumber}
  </delete>
  
  <select id="findByKeyword" 
  resultMap="JobPostingMap"
  parameterType="string">
  <bind name="keywordPattern" value="'%' + _parameter + '%'"/>
  select
   j.job_posting_no,
   j.title,
   j.content,
   j.minimum_career,
   j.start_dated,
   j.end_dated,
   j.job,
   j.year_salary,
   j.view_count,
   f.file_path
  from
   pf_job_posting j
   left outer join pf_job_posting_file f on j.job_posting_no=f.job_posting_no
  where
   j.title like #{keywordPattern}
   or j.content like #{keywordPattern}
   or j.minimum_career like #{keywordPattern}
   or j.start_dated like #{keywordPattern}
   or j.end_dated like #{keywordPattern}
   or j.job like #{keywordPattern}
   or j.year_salary like #{keywordPattern}
  </select>
  
</mapper>







