<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.portfoli.dao.NoticeDao">
	<resultMap type="Notice" id="NoticeMap">
		<id column="board_no" property="number" /> <!-- 게시글번호 -->
		<result column="notice_no" property="noticeNumber" /><!-- 공지사항분류번호-->
    <result column="title" property="title" /><!-- 제목-->
    <result column="content" property="content" /><!-- 내용-->
    <result column="view_count" property="viewCount" /><!-- 조회수-->
    <result column="registered_date" property="registeredDate" /><!-- 등록일 -->
    <result column="attachment" property="attachment" /> <!-- 첨부파일 -->
	</resultMap>

  <select id="findAll" resultMap="NoticeMap">
    SELECT 
	    n.notice_no, 
	    n.board_no,
	    b.title, 
	    b.content, 
	    b.view_count, 
	    b.registered_date, 
	    b.attachment 
    from pf_notice n left outer join pf_board b 
    on n.board_no = b.board_no;
  </select>

</mapper>







