<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.portfoli.dao.NoticeDao">
	<resultMap type="Notice" id="NoticeMap">
		<id column="notice_no" property="noticeNumber" /> <!-- 게시글번호 -->
		
		<association property="board" javaType="Board">
		  <id column="board_no" property="number" /><!-- 공지사항분류번호-->
	    <result column="title" property="title" /><!-- 제목-->
	    <result column="content" property="content" /><!-- 내용-->
	    <result column="view_count" property="viewCount" /><!-- 조회수-->
	    <result column="registered_date" property="registeredDate" /><!-- 등록일 -->
	    <result column="attachment" property="attachment" /> <!-- 첨부파일 -->
    </association>

	</resultMap>

  <select id="findAll" resultMap="NoticeMap">
    SELECT 
	    n.notice_no, 
	    n.board_no,
	    b.title, 
	    b.content, 
	    b.view_count, 
	    b.registered_date, 
	    b.attachment 
    from pf_notice n left outer join pf_board b 
    on n.board_no = b.board_no
    order by board_no desc
  </select>
  
  <select id="findByNo" resultMap="NoticeMap" parameterType="int">
    SELECT 
      n.notice_no, 
      n.board_no,
      b.title, 
      b.content, 
      b.view_count, 
      b.registered_date, 
      b.attachment 
    from pf_notice n left outer join pf_board b 
    on n.board_no = b.board_no
    WHERE n.board_no = #{boardNumber}
  </select>
  
  <insert id="insert" parameterType="Notice">
    INSERT INTO pf_notice (
      board_no
      )
    VALUES(
      #{board.number}
    )
  </insert>

</mapper>







