<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.portfoli.dao.RecommendationDao">
  <resultMap type="Recommendation" id="RecommendationMap">
    <id column="board_no" property="number" />
    <result column="title" property="title" />
    <result column="content" property="content" />
    <result column="view_count" property="viewCount" />
    <result column="registered_date" property="registeredDate" />
    
    <association property="member" javaType="GeneralMember">
    <id column="member_no" property="number" />
    <result column="id" property="id" />
    <result column="pwd" property="password" />
    <result column="name" property="name" />
    <result column="post_no" property="postNumber" />
    <result column="basic_address" property="basicAddress" />
    <result column="detail_address" property="detailAddress" />
    <result column="email" property="email" />
    <result column="tel" property="tel" />
    <result column="create_date" property="createDate" />
    <result column="sms_yn" property="smsYN" />
    <result column="email_yn" property="emailYN" />
    <result column="photo" property="photoFilePath" />
    <result column="type" property="type" />
    <result column="userkey" property="userkey" />
    </association>
    
  </resultMap>


  <select id="check" resultMap="RecommendationMap">
    SELECT
      * 
    FROM pf_recommendation 
    WHERE 
      member_no = #{member.number} 
    and 
      board_no = #{number}
  </select>
  
  <insert id="toggleon" parameterType="Recommendation">
	  INSERT INTO 
		  pf_recommendation
		  (board_no, member_no) 
	  VALUES( 
		  #{number},
		  #{member.number})
  </insert>
  
  <insert id="toggleoff" parameterType="Recommendation">
    DELETE FROM
      pf_recommendation
    WHERE
    board_no = #{number}
    and
    member_no = #{member.number}
  </insert>
</mapper>
