<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.portfoli.dao.SkillDao">

	<resultMap type="Skill" id="SkillMap">
		<id column="skill_no" property="number" />
		<result column="field_no" property="fieldNumber"/>
		<result column="name"	property="name" />
	</resultMap>

  <resultMap type="PortfolioSkill" id="PortfolioSkillMap">
    <id column="board_no" property="boardNumber"/>
    <result column="member_skill_no" property="memberSkillNumber"/>
  </resultMap>
  
  <resultMap type="GeneralMemberSkill" id="GeneralMemberSkillMap">
    <id column="member_skill_no" property="memberSkillNumber"/>
    <result column="general_member_no" property="generalMemberNumber"/>
    <result column="skill_no" property="skillNumber"/>
    <result column="level" property="level"/>
  </resultMap>
	
	<select id="findAll" resultMap="SkillMap">
		select skill_no, field_no, name 
		from pf_skill
	</select>	
	
	<select id="findAllByNumber" resultMap="SkillMap" parameterType="int">
    select skill_no, field_no, name 
    from pf_skill
    where field_no=#{fieldNumber}
  </select>
  
  <select id="findAllByMemberNumber" resultMap="SkillMap" parameterType="int">
    select ps.skill_no, ps.field_no, ps.name
    from pf_member_skill pms join pf_skill ps
    on pms.skill_no=ps.skill_no
    where general_member_no=#{memberNumber}
  </select>
  
  <delete id="delete" parameterType="map">
    delete from pf_member_skill
    where general_member_no=#{memberNumber} and skill_no=#{skillNumber}
  </delete>
  
  <insert id="insert" parameterType="map">
    insert into pf_member_skill(general_member_no, skill_no)
    values(#{memberNumber}, #{skillNumber})
  </insert>
  
  <select id="findByName" resultMap="SkillMap" parameterType="string">
    select skill_no, field_no, name 
    from pf_skill 
    where name=#{skillName}
    limit 1
  </select>
  
  <select id="findMemberSkill" resultMap="GeneralMemberSkillMap" parameterType="map">
    select pms.member_skill_no, pms.general_member_no, pms.skill_no, pms.level 
    from pf_member_skill as pms join pf_skill as ps
    on pms.skill_no=ps.skill_no
    where pms.general_member_no=#{memberNumber} and ps.name=#{skillName}
  </select>
</mapper>
