<?xml version="1.0" encoding="UTF-8"?>

<Configuration status="DEBUG">
  <Properties>
  <Property name="portfoli">portfoli</Property>
  </Properties>
	<Appenders>
		<Console name="console" target="SYSTEM_OUT">
			<PatternLayout
				pattern="[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %c{1} - %msg%n" />
		</Console>
		
		<RollingFile name="file" fileName="${sys:catalina.base}/logs/${portfoli}.log" filePattern="${sys:catalina.base}/logs/${portfoli}_%d{yyyy-MM-dd}_%i.log">
	   <PatternLayout pattern="%msg%n" />
	   <Policies>
	    <SizeBasedTriggeringPolicy size="10MB" /> <!-- 10MB 용량이 초과시 DefaultRolloverStrategy 정책만큼 넘버링 -->      
	    <TimeBasedTriggeringPolicy module="true" interval="1" /><!-- 일별 로그 파일 생성-->
	   </Policies>
	   <DefaultRolloverStrategy max="500" fileIndex="min" /><!-- 롤링 파일 500개 까지 생성 -->
  		</RollingFile>
  
	</Appenders>

	<Loggers>
		<Logger name="com.portfoli.dao" level="debug"
			additivity="false">
			<AppenderRef ref="console" />
		</Logger>

		<Root level="debug" additivity="false">
			<AppenderRef ref="console" />
		</Root>
    
    <Logger name="runMode" level="info" additivity="false">
            <AppenderRef ref="file"/>
    </Logger>
	</Loggers>
</Configuration>