<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.portfoli.dao.AdminDao">

  <resultMap type="Admin" id="AdminMap">
    <id column="admin_no" property="number" />
    <result column="id" property="id" />
    <result column="pwd" property="password" />
    <result column="ip_addr" property="ipAddress" />
    <result column="access_time" property="accessTime" />
  </resultMap>

  <select id="findByIdAndPassword" resultMap="AdminMap" parameterType="map">
    select admin_no, id, pwd, ip_addr, access_time 
    from pf_admin 
    where id=#{id} and pwd=password(#{password})
  </select>

</mapper>